<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='author' content='ItsKhang'>
    <meta name='keywords' content='mira, bot'>
    <title>Sorry, This Page Can't Be Found | Mira</title>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'
        rel='stylesheet'>
    <link rel='stylesheet' href='/s/c/404.css'>
</head>

<body>
    <main>
        <div class='main-text'>
            <h3>ERROR CODE: 404</h3>
            <h1>OOOPS!!</h1>
            <h2>This page may have been moved, deleted, or may never have existed.</h2>
            <a href='/'>Go Home</a>
        </div>
        <div class='main-image'>
            <img src='/s/a/404.png' alt=''>
        </div>
    </main>
</body>

</html>