<!DOCTYPE html>
<html>

<head>
    <title>Dành Cho Babi Của Tui Đó</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='author' content='ItsKhang'>
    <meta name='keywords' content='mira, bot'>
    <link rel='stylesheet' href='/s/c/heart.css'>
    <script src='/s/j/heart.js'></script>
</head>

<body>
    <div class='box'>
        <canvas id='pinkboard'></canvas>
    </div>
</body>

</html>