<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khang">
    <title>Facebook Downloader | Mira</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/r/c/facebook.css">
    <script src="/r/j/facebook.js"></script>
</head>

<body>
    <main>
        <div class="main-container">
            <h1>Facebook Video Downloader</h1>
            <form>
                <div class="field">
                    <input type="url" name="facebook" id="facebook" required placeholder="Enter Facebook Video URL">
                </div>
                <button type="submit" id="fetchBtn" class="fetchBtn">
                    <i class="fas fa-download"></i> Fetch Video
                </button>
            </form>
        </div>
        <div class="result-container"></div>
    </main>
</body>

</html>