<!DOCTYPE html>
<html>

<head>
    <title>Dành Cho Babi Của Tui Đó</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ItsKhang">
    <meta name="keywords" content="mira, bot">
    <link rel="stylesheet" href="/s/c/foryou/heart_v1.css">
    <link rel="stylesheet" href="/s/c/foryou/heartClick.css">
    <script src="/s/j/foryou/heart_v1.js"></script>
    <script src="/s/j/foryou/heartClick.js"></script>
</head>

<body>
    <div class="box">
        <canvas id="pinkboard"></canvas>
        <audio id="binhyen" src="/s/a/foryou/binhyen.mp3" style="display: none;" loop autoplay></audio>
    </div>
</body>

</html>